<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Library Management</title>
</head>
<body>
  <h1>Books List</h1>
  <ul>
    <% books.forEach(book => { %>
      <li><%= book.nombreLibro %> por <%= book.autor %> (Editorial: <%= book.editorial %>)</li>
    <% }); %>
  </ul>  
</body>
</html>